[defaults]
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = ansible/roles
collections_path = ansible/collections
inventory = ansible/inventory/hcloud.yml
host_key_checking = True
forks = 1

[inventory]
enable_plugins = hetzner.hcloud.hcloud, host_list, script, auto, yaml, ini, toml
