Unattended-Upgrade::Allowed-Origins {
    "{{ ansible_distribution }}:{{ ansible_distribution_release }}-security";
};
Unattended-Upgrade::Automatic-Reboot "false";
Unattended-Upgrade::Remove-Unused-Dependencies "true";
