[defaults]
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = roles
# Path relative to repo root (where ansible-playbook is always invoked from).
collections_path = ansible/collections
